#intro {
  background-color: purple;
}
#p2 {
  color: blue;
}
p,
label {
  color: yellow;
}
img {
  border-radius: 100%; // full circular image
}
body {
  background-color: black
}

li {
  color: white;
}
textarea{
  height: 100px;
  width: 300px;
}

.hidden{
  display:none;
}
::-webkit-input-placeholder {
  color: blue;
}
::-moz-placeholder {
  color: blue;
}
:-ms-input-placeholder {
  color: blue;
}
:-moz-placeholder {
  color: blue;
}
.round{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  padding: 3px 5px;
}
#form {
  width: 400px;
   margin:0 auto;
   margin-top: 100px;

}

.text-input{
  width: 100%
}
input, textarea{
  margin: 5px
}
ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    height: 100%;
    position: fixed;
    overflow: auto;
    width: 100px;
  }
  li{
    border: 1px solid black;
  }
  li:last-child {
    border-bottom: none;
}
  li a{
    display:block;
    width: 60px;
    text-align: center;
    padding: 8px 16px;
}
li a:hover{
  background-color: purple;
  color: white;
}
