#intro {
  background-color: purple;
}
#p2 {
  color: blue;
}
p,
label {
  color: yellow;
}
img {
  border-radius: 100%;
}
body {
  margin: 0;
  background-color: black;
}

li {
  color: white;
}
textarea{
  height: 100px;
  width: 300px;
}

.hidden{
  display:none;
}
::-webkit-input-placeholder {
  color: blue;
}
::-moz-placeholder {
  color: blue;
}
:-ms-input-placeholder {
  color: blue;
}
:-moz-placeholder {
  color: blue;
}
.round{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  padding: 3px 5px;
}
#form {
  width: 400px;
   margin:0 auto;
   margin-top: 100px;

}

.text-input{
  width: 100%
}
input, textarea{
  margin: 5px
}
ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    float: right;
    background-color: black;
  }
  .navbar li{
    border: 1px solid black;
    display: inline;
    float: right;
    font-size: 120%;
  }
  .navbar li:last-child{
    border-right: none;
  }
.navbar a{
  display: block;
  padding: 8px;
  color: purple;
}
.navbar li a{
    display:block;
    text-align: center;
    padding: 14px 16px;
}
li a:hover{
  background-color: purple;
  color: black;
}
 #active{
  background-color: purple;
  color:black;
}
h1{
  color: white;
}
