#intro {
  background-color: purple;
}
#p2 {
  color: blue;
}
p,
label {
  color: yellow;
}
img {
  border-radius: 100%; // full circular image
}
body {
  background-color: black
}
div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}
li {
  color: white;
}
textarea{
  height: 100px;
  width: 300px;
}
form {
  width: 500px;
}
input {
  float: left;
}
.hidden{
  display:none;
}
